/* Mocha Mauve Theme */
@define-color accent #89b4fa;
@define-color txt #cad3f5;
@define-color bg #24273a;
@define-color bg2 #313244;

* {
  font-family: "Liga SFMono Nerd Font";
  font-size: 14px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

window {
  margin: 0;
  padding: 10px;
  border: 3px solid @accent;
  border-radius: 7px;
  background-color: @bg;
  animation: slideIn 0.05s ease-in-out both;
}

#inner-box {
  margin: 5px;
  background-color: @bg;
  animation: fadeIn 0.05s ease-in-out both;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  background-color: @bg;
}

#scroll {
  margin: 0;
  padding: 10px;
}

#input {
  margin: 15px;
  padding: 10px;
  color: @accent;
  background-color: @bg2;
  animation: fadeIn 0.05s ease-in-out both;
}

#text {
  padding: 10px;
  color: @txt;
  animation: fadeIn 0.05s ease-in-out both;
}

#img {
  padding: 10px;
}

#entry:selected {
  background-color: @accent;
}

#entry:selected #text {
  color: @bg2;
}
